html, body {
    padding: 0;
    margin: 0;
    height: 100%;

  }
  
  input {
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color:transparent;
    border-radius: 30px 30px;
    width :20%;
    margin-left: 20%;
    color: white;

  }

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    }
  
.Site-content {
    flex: 1;
    }

.header{
    background-image: url(https://startupweekend.org/assets/sw-hero-home.png);
    background-size: cover;
    display: flex;
    flex-flow: wrap column;
    font-size: 16px;
    padding: 30px 30px 30px 30px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;

}

    
 .header-bar{
    display: flex;
    flex :1;
    justify-content: center;
    /* padding: 20% 30 20% 30 */


 }   
.img{

    width: 290px;
    height: 50px
}
    
.button{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color:transparent;
    border-radius: 30px 30px;
    width :20%;
    margin-left: 20%;
    color: white;
}

li:hover{

    color: #0db14b;
    text-decoration: underline;

}

.img2{

    max-width: 400px;
    flex:1;
}
.header-body{
 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%

}
.header-title{
    font-size: 4em;
    padding: top 5%;
    flex:1;
    line-height: 1.45em;
    font-weight: 700;
    font-family: "Montserrat","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white

}

.p1{

    width: 60%;
    font-size: 1.25em;
    color: white;
    line-height: 1.6em;
    text-align: center;
    font-weight: 400;
    box-sizing: border-box;
}

.div2{

    display: flex;
    background-color:#0db14b;
    border-radius: 10px;
    border-color: transparent;
    justify-content: space-evenly;
    width:60%;
    padding: 10% left, 10% right;


}

.h3{
    display: inline;
    font-weight: 700;
    font-size: 1.750em;
    color:white;
    flex:1;
    width:30%;
}

.button3{

    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color:transparent;
    border-radius: 30px 30px;
    width :20%;
    color: gray;
    flex: 1;

}

.footer{

    display: flex;
    flex-direction: column;
    align-items:center;
    background-color:#0db14b;


}

.footer-item{

    flex:1;
    width:100%;
    color: white;
    padding:5% 30% 5% 30%;

}

.footer-item2{

    flex:1;
    width:100%;
    color: white;
}

.button4{

    width:60%;
    height:80%;
    display: inline-block;
    text-align: left;
    text-decoration: none;
    background-color:transparent;
    border-radius: 10px 10px;
    color: white;

}

.button5{

    width:20%;
    height: 80%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color:white;
    border-radius: 10px 10px;
    color:#0db14b;

}